*{
  color:white
}

.wrapper {
  background: rgb(221,62,86);
  background: linear-gradient(180deg, rgba(221,62,86,1) 0%, rgba(187,52,111,1) 50%, rgba(139,39,143,1) 100%);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}


.main-div{
  height: 80vh;
  width: 80vw;
  border-radius: 20px;
  background-color: #0A0A0A;
  display: flex;
  flex-direction: column;

}



.first-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  flex-wrap: wrap;
}

strong{
  color:rgb(241, 59, 59)
}




.search-input-container {
  position: relative;
  margin-top: 1%;
}

.search-input {
  /* padding: 7px 90px; */
  font-size: 17px;
  border: 1px solid #ccccccbe;
  border-radius: 20px;
  outline: none;
  width: 25vw;
  padding: 7px 10px;
  margin-top: 1%;
  background-color: #0a0a0abf;

  text-align: start;
  
}


.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ccc; /* Change the color of the search icon */
}



.content{
  background-color: #ccc;
  width: 80%;
  height: 80%;
  margin-top: 1%;
  margin-left: 9%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap:5%
}

.content img{
  width: 40%;
  height: 90%;
  padding-left: 3%;
}

.info{
  display: flex;
  flex-direction: column;
}

