body{
  background: #420a09;  /* fallback for old browsers */
  color: white;
}
.heroContainer{
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #071423;
  padding: 40px;
  border-radius: 10px;
}
.heroContainer h1 span{
  color: maroon;
}
.infoContainer{
  width: 50%;
}
.headingContainer{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(77, 76, 76);
  padding: 0px 15px;
  margin-top: 10px;
  border-radius: 10px;
  width: 95%;
}
.headingContainer h2{
  font-weight: 200;
}
.numbers{
  color: aqua;
}
@media only screen and (max-width: 1000px) {
  .heroContainer{
    flex-direction: column;
  }
  .heroContainer img{
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .infoContainer{
    width: 100%;
  }
  .infoContainer h1{
    font-size: 1.8rem;
  }
  .headingContainer {
    width: 90%;
  }
}